{% extends 'admin/admin.html' %}

{% block header %}
<li><a href="#">Donaciones</a></li>
<li><span>Registrar Donaciones </span></li>
{% endblock %}

{% block contenido %}
<!-- Server side start -->
<div class="col-12">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="header-title">Registrar Donación</h4>
            <form class="needs-validation" novalidate="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="monto">Monto</label>
                        <input type="number" min= "1" max="100000" class="form-control" id="monto" name="monto" placeholder="Escribe el monto Q." required="">
                        <div class="valid-feedback">
                            ¡Se ve bien!
                        </div>
                        <div class="invalid-feedback">
                            ¡La cantidad debe ser mayor a cero y menor a un millón!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="tipo_donacion_id">Tipo de donación</label>
                        <input type="text" class="form-control" id="tipo_donacion_id" name="tipo_donacion_id" placeholder="Escribe el tipo de donación" required="">
                        <div class="valid-feedback">
                            ¡Se ve bien!
                        </div>
                        <div class="invalid-feedback">
                            ¡campo vacio!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="tipo_persona_persona_id">Donador</label>
                        <input type="text" class="form-control" id="tipo_persona_persona_id" name="tipo_persona_persona_id" placeholder="Escribe el donador" required="">
                        <div class="valid-feedback">
                            ¡Se ve bien!
                    
                </div>
                <div class="invalid-feedback">
                            ¡Campo vacio!
                        </div>
               
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Registrar</button>
                 
            </form>
        </div>
    </div>
</div>
<!-- Server side end -->
{% endblock %}   