{% extends 'admin/admin.html' %}

{% block header %}
<li><a href="#">Notas</a></li>
<li><span>Registrar nota</span></li>
{% endblock %}

{% block contenido %}
<!-- Server side start -->
<div class="col-12">
    <div class="card mt-5">
        {% if 'register' in request.GET %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>¡Exitoso! </strong>Unidad registrado
        </div>
        {% endif %}
        <div class="card-body">
            <h4 class="header-title">Registrar Nota</h4>
            <form class="needs-validation" novalidate="" method="POST">
                {% csrf_token %}                
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="nombre">Nota</label>
                        <input type="number" class="form-control" id="nota" name="nota" placeholder="Escribe la nota del estudiante" required="" min="1", max="100">
                        <div class="invalid-tooltip">
                            Ingresa una nota 1 a 100
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="apellido">Unidad</label>
                        {{ form.unidad_id }}
                        <div class="invalid-tooltip">
                            Ingresa la unidad
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="fecha_nacimiento">Persona</label>
                        {{ form.tipo_persona_persona_id }}
                        <div class="invalid-tooltip">
                            Elije nombre de la persona                            
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Registrar</button>
            </form>
        </div>
    </div>
</div>
<!-- Server side end -->
{% endblock %}   