{% extends 'admin/admin.html' %}

{% block header %}
<li><a href="#">Asignaciones</a></li>
<li><span>Actualizar asignación</span></li>
{% endblock %}

{% block contenido %}
<!-- Progress Table start -->
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Actualizar datos de la asignación</h4>
            <form class="needs-validation" novalidate="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="nombre">Curso</label>
                        {{ form.curso_id }}
                        <div class="invalid-tooltip">
                            Elije un curso
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="apellido">Persona</label>
                        {{ form.tipo_persona_persona_id }}
                        <div class="invalid-tooltip">
                            Elije una Persona
                        </div>
                    </div>
                </div>                
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</div>
<!-- Progress Table end -->
{% endblock %}   