{% extends 'registration/base.html' %}
{% load static %}
{% block contenido %}
<div class="login-area login-bg">
    <div class="container">
        <div class="login-box ptb--20">
            <form method="post">
                {% csrf_token %}
                <div class="login-form-head">
                    <h4>Registrar</h4>
                    <p>Hola, registrar nuevo usuario</p>
                </div>
                <div class="login-form-body">
                    {{ form.as_p }}
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Registrar <i class="ti-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}