{% extends 'admin/admin.html' %}

{% block header %}
<li><a href="{% url 'Admin:persona_list' %}">Personas</a></li>
<li><span>Actualizar persona, tipo persona</span></li>
{% endblock %}

{% block contenido %}
<!-- Progress Table start -->
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Actualizar datos de tipo personas</h4>
            <form class="needs-validation" novalidate="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="tipo_persona">Persona</label>
                        {{ form.persona_id }}
                        <div class="invalid-tooltip">
                            Ingresa un nombre valido
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="tipo_persona">Tipo Persona</label>
                        {{ form.tipo_persona_id }}
                        <div class="invalid-tooltip">
                            Ingresa un tipo persona valido
                        </div>
                    </div>                      
                </div>
                <button class="btn btn-primary" type="submit">Registrar</button>
            </form>
        </div>
    </div>
</div>
<!-- Progress Table end -->
{% endblock %}   