{% extends 'admin/admin.html' %}
{% block header %}
<li><a href="{% url 'Admin:persona_list' %}">Personas</a></li>
<li><span>Registrar tipo persona</span></li>
{% endblock %}
{% block contenido %}
<!-- Server side start -->
<div class="col-12">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="header-title">Registrar Tipo Persona</h4>
            <form class="needs-validation" novalidate="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="nombre">Tipo</label>
                        <input type="text" class="form-control" id="tipo_persona" name="tipo_persona" placeholder="Escribe el tipo de persona" required="">
                        <div class="invalid-tooltip">
                            Ingresa un tipo persona
                        </div>
                    </div>
                </div>
                <div class="form-row">
                </div>
                <button class="btn btn-primary" type="submit">Registrar (1/3)</button>
            </form>
        </div>
    </div>
</div>
<!-- Server side end -->
{% endblock %}  