{% extends 'admin/admin.html' %}

{% block header %}
<li><a href="#">Tipo Personas</a></li>
<li><span>Actualizar Tipo Persona</span></li>
{% endblock %}

{% block contenido %}
<!-- Progress Table start -->
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Actualizar datos de tipo personas</h4>
            <form class="needs-validation" novalidate="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="tipo_persona">Tipo</label>
                        {{ form.tipo_persona }}
                        <div class="valid-feedback">
                            ¡Se ve bien!
                        </div>
                    </div>                    
                </div>
                <button class="btn btn-primary" type="submit">Registrar</button>
            </form>
        </div>
    </div>
</div>
<!-- Progress Table end -->
{% endblock %}   