{% extends 'admin/admin.html' %}

{% block header %}
<li><a href="{% url 'Admin:persona_list' %}">Personas</a></li>
<li><span>Lista tipo personas</span></li>
{% endblock %}

{% block contenido %}
<!-- Progress Table start -->
<div class="col-12 mt-5">
    {% if 'regtp' in request.GET %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Exitoso! </strong>Tipo persona registrada
    </div>
    {% endif %}
    {% if 'regd' in request.GET %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Exitoso! </strong>Se elimino el registro
    </div>
    {% endif %}
    {% if 'rega' in request.GET %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Exitoso! </strong>Se actualizo el registro
    </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <div style="margin-bottom: 30px">                               
                <a href="{% url 'Admin:tipo_persona_create' %}">                             
                    <button type="submit" class="btn btn-success float-right" style="margin: 1px">Nuevo tipo</button>
                </a> 
                <h4 class="header-title">Tipo personas</h4>
            </div>              
            <div class="single-table">
                <div class="table-responsive">
                    <table class="table table-hover progress-table text-center">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Creación</th>
                                <th scope="col">Modificación</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tipo_per in object_list %}
                            <tr>
                                <th scope="row">{{ tipo_per.id }}</th>
                                <td>{{ tipo_per.tipo_persona }}</td>
                                <td>{{ tipo_per.creacion }}</td>
                                <td>{{ tipo_per.modificar }}</td>
                                <td>
                                    <ul class="d-flex justify-content-center">
                                        <li class="mr-3"><a href="{% url 'Admin:tipo_persona_update' tipo_per.id %}" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                        <li><a href="{% url 'Admin:tipo_persona_delete' tipo_per.id %}" class="text-danger"><i class="ti-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Progress Table end -->
{% endblock %}   